<p>Foo event</p>

	<form id="event" method="Post" action="/events/create">
		Event Name: <input type="text" name="title"><br>
		Event Date: <input id="datepicker" type="text" name="date"><br>
		Organizer Name: <input type="text" name="organizer_name"><br>
		Organizer Email: <input type="text" name="organizer_email"><br>
		<input id="eventsubmit" type="submit" value="Submit">
	</form>

<% @messages.each do |msg| %>
	<p class="errors"><%=msg%></p>
<% end %>