<div id="container">

	<form id="event" method="POST" action="/events/create">
		Event Name: <input type="text" name="event_name" required><br>
		Event Date: <input type="text" name="event_date" required><br>
		Organizer Name: <input type="text" name="organizer_name" required><br>
		Organizer Email: <input type="text" name="organizer_email" required><br>
		<input type="submit" value="Submit">
	</form>





</dev>