<div id="container">

	<form id="event" method="Post" action="/events/create">
		Event Name: <input type="text" name="title" required><br>
		Event Date: <input type="text" name="date" required><br>
		Organizer Name: <input type="text" name="organizer_name" required><br>
		Organizer Email: <input type="text" name="organizer_email" required><br>
		<input id="eventsubmit" type="submit" value="Submit">
	</form>

</dev>